<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Drag And Drop</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../vendors/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-faded" style="background-color:black;">
    <h1 class="navbar-brand mb-0">INTA COLLAGE</h1>
  </nav>
  <section id="contenido">
    <div class="container">
      <div class="col-md-3 recientes">
        <h3>Fotos Recientes...!!!</h3>
        <img id="foto1" draggable="true" src="../assets/img/Gatito1.png">
        <img id="foto2" draggable="true" src="../assets/img/Perrito1.png">
        <img id="foto3" draggable="true" src="../assets/img/Gatito2.png">
        <img id="foto4" draggable="true" src="../assets/img/Perrito2.png">
        <img id="foto5" draggable="true" src="../assets/img/osito.jpg">
        <img id="foto5" draggable="true" src="../assets/img/ave.png">

      </div>
      <div class="col-md-7 ff container-marco">
        <div>
            <h3>Arma tu college...!!!</h3>

            <div class="marco-foto"></div>
            <div class="marco-foto"></div>
            <div class="marco-foto"></div>
        </div>

      </div>
    </div>
  </section>
  <script src="../vendors/js/jquery.min.js"></script>
  <script rel="stylesheet" href="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/main.js"></script>

</body>

</html>
